<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-jsp-jpa:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-jsp-jpa.war">
      <element id="artifact" artifact-name="spring-boot-jsp-jpa:war exploded" />
    </root>
  </artifact>
</component>